# BlueField: oob_net0 management interface (DHCP with OOB vendor class)
[Match]
Name=oob_net0

[Network]
DHCP=yes
LinkLocalAddressing=ipv6
VLAN=vlan4040

[DHCPv4]
VendorClassIdentifier=NVIDIA/BF/OOB
SendHostname=false
SendOption=12:string:localhost.localdomain

[DHCPv6]
SendVendorClass=5703:NVIDIA/BF/OOB
