Source: bf-release
Section: misc
Priority: optional
Homepage: https://developer.nvidia.com/networking/doca
Build-Depends: debhelper (>= 9), lsb-release, mlnx-ofed-kernel-modules, mlxbf-bootimages
Standards-Version: 4.2.0
Maintainer: Vladimir Sokolovsky <vlad@nvidia.com>

Package: bf-release
Architecture: arm64
Description: BF release information
